__pycache__
.DS_Store
.ipynb_checkpoints
images_parte01
images_parte03
images_parte04
q1.png
q2.png
q3.png
q3a.png
q4.png
q5.png
q6.png
q_1.png
q_2.png
q_3.png
q_4.png
q_5.png
q_6.png
q_7.png
q_8.png
q_9.png
q_10.png
q1_1.png
q3_1.png
q4_1.png
q5_1.png
q6_1.png
q7_1.png
q8_1.png
q9_1.png
Hanoi.py
Queue.py
learning/Stacks/stack_init.py
learning/Stacks/stack_push_pop.py
learning/Stacks/stack.py
learning/Queues/q1.png
Node
learning/DoublyLinkedList/Node.py
learning/DoublyLinkedList/DoublyLinkedList.py
!/learning/Node
/learning/LinealBinarySearch/binary_search.py
learning/LinealBinarySearch/buscando_ando.py
questions
4_Ejercicios.ipynb
LinkedList.py
Node.py
4_Problemas.ipynb
miscellaneous.py
1_busqueda_lineal.ipynb
Binary_search.png
Untitled.ipynb
linear*
start_from.txt
OOP
tic_tac_toe
NodeImplementations.svg
DSA_Parte01.ipynb
DSA_Parte02.ipynb
DSA_Parte03.ipynb
DSA_Parte04.ipynb
gato_game.ipynb
Juego_plantas.ipynb
test.txt
Keynote
