__pycache__
.DS_Store
.ipynb_checkpoints
images_parte01
images_parte03
images_parte04
q2.png
q3.png
q3a.png
q4.png
q5.png
q6.png
learning/Queues/q1.png
Node
learning/DoublyLinkedList/Node.py
learning/DoublyLinkedList/DoublyLinkedList.py
!/learning/Node
/learning/LinealBinarySearch/binary_search.py
learning/LinealBinarySearch/buscando_ando.py
questions
4_Ejercicios.ipynb
LinkedList.py
Node.py
4_Problemas.ipynb
miscellaneous.py
1_busqueda_lineal.ipynb
Binary_search.png
Untitled.ipynb
linear*
start_from.txt
OOP
tic_tac_toe
NodeImplementations.svg
DSA_Parte01.ipynb
DSA_Parte02.ipynb
DSA_Parte03.ipynb
DSA_Parte04.ipynb
gato_game.ipynb
Juego_plantas.ipynb
test.txt
Keynote
